# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

#ignorando node
node_modules
#ignorando index
*.html
#ignorando vite
*.config.js
#ignorando eslintrc
*.cjs
#ignorando dist
dist/*
#ignorando local

#ignorando vite



# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
*.local
node_modules
index.html
vite.config.js
.eslintrc.cjs
dist/
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
