* {
    margin: 0;
    padding: 0;
}

@import "mixins";

.anotations {

    @include defaultSizePage();

    display: flex;
    flex-direction: column;

    .anotations-page {
        @include MaxCenterBoxes();
        @include defaulPageRoll();
        border: 2px solid rgb(10, 10, 10);
        height: 100vh;
        width: 800px;
    
    }

    h1 {
        color: black;
        text-align: center;
    }

    .anotations-subpage {
        height: 150px;
        width: 100%;
        background-color: rgb(10, 10, 10);
    }

}