$list-color: #8b79e4;

.menu-default {
    position: fixed;
    width: 250px;
    height: 100vh;
    left: 0;
    border-right: 5px solid rgb(203, 136, 239);
    background-color: #000000;
    color: white;

    nav {
        text-align: start;
        display: flex;
        flex-direction: column;


        a {
            text-decoration: none;
            color: white;
            padding: 10px;
            font-size: 20px;
            font-weight: 600;
            font-family: 'Roboto',sans-serif;
          
        }

     
     

    }

    h1 {
        font-weight: 600;
        background-image: linear-gradient(to left, #3c8c9a, #b393d3);
        color: transparent;
        margin-bottom: 30px;
        text-align: center;
        background-clip: text;
        -webkit-background-clip: text;
        font-family: 'Tahoma', sans-serif;
        margin-top: 20px;

    }


    .dropdown {
       
        height: 45px;
        overflow: hidden;
        cursor: pointer;
        transition: 0.8s ease;

        .dropdown-title {
            color: white;
            padding: 10px;
            font-size: 20px;
            font-weight: 600;
            font-family: 'Roboto',sans-serif;
        }
        .dropdown-title:hover::after{
            color: rgb(255, 255, 255);
            content: "  👈";
          
        }
        .dropdown-title::after{
            color: rgb(255, 255, 255);
         
          
        }

        li {
            height: 40px;
            a{
                text-shadow: none;
            }
           
        }
    }

    .dropdown:hover {
    
        padding-top: 20px;
        padding-bottom: 200px;
      
    }
  

}

.menu-default:hover {
    border-right: 5px solid rgb(160, 179, 238);
}