


.menu-default {
    width: 350px;
    background-size: cover;
    background-repeat: no-repeat;
    filter: saturate(3);
    background-color: #000000;
    color: white;
 
}

nav {

    text-align: start;
    display: flex;
    flex-direction: column;
}

nav a {
    text-decoration: none;
    color: white;
    padding: 10px;
    font-size: 20px;
    font-weight: 600;
    font-family: 'Roboto', sans-serif;
    font-weight: 300;

}
.menu-default h1 {
    font-weight: 600;
    background-image: linear-gradient(to left, #e4e4e4, #757575);
    color: transparent;
    margin-bottom: 30px;
    text-align: center;
    background-clip: text;
    -webkit-background-clip: text;
    font-size: 30px;
    font-family: 'Tahoma', sans-serif;
    margin-top: 20px;

}


.dropdown {
    text-align: start;
    height: 45px;

    padding: 0;
    overflow: hidden;
    cursor: pointer;
    transition: 0.8s;
}

.dropdown-title {
    color: white;
    padding: 10px;
    font-size: 20px;
    font-weight: 300;


    font-family: 'Roboto', sans-serif;
}

.dropdown-title:hover::after {
    color: rgb(255, 255, 255);
    content: " ◄";
    color: orange;

}

.dropdown-title::after {
    color: rgb(255, 255, 255);
    
}

.dropdown li {
    height: 50px;
    list-style: none;



}.dropdown li:hover::after{
    height: 50px;
    list-style: none;
    content: " ◄";
    font-size: 25px;
    color: purple;
    

}

.menu-default a {
    text-shadow: none;


}


.dropdown:hover {

    padding-top: 20px;
    padding-bottom: 300px;


}

.menu-default:hover {
    display: block;
}.autor{
    color: white;
    position: absolute;
    top: 900px;
    left: 30px;

}