@mixin defaultAlign(){
    display: flex;
    flex-direction: row;
    justify-content: center;
}
@mixin defaultSizePage(){
    width: 100%;
    height: 100vh;
}
@mixin defaulPageRoll(){
    width: 100%;
    height: auto;
    position: relative;
    left: 150px;
}
@mixin CenterByRelativePosition(){
    position: relative;
    left: 150px;
}
@mixin MaxCenterBoxes(){
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: auto;
}