* {
    margin: 0;
    padding: 0;
}

.master {
    width: 1680px;
    height: 100vh;
    display: flex;
    position: relative;
    left: 255px;
    flex-direction: row;
    justify-content: center;
    background-color: rgba(128, 128, 128, 0.206);

    img {
        width: 130px;
        height: 130px;
        display: flex;
        z-index: 1;
        margin: auto;
        border-radius: 360px;
    }

    .box-content {
        margin: 5px;
        width: 300px;
    
        height: 400px;
        display: flex;
        text-align: center;
        flex-direction: column;
        justify-content: center;
        padding: 10px;

        .sub-content {
            box-shadow: 5px 5px 5px rgba(128, 128, 128, 0.504);
            background-color: rgba(255, 255, 255, 0.943);
            width: 300px;
            margin-top: -50px;
            height: 300px;
            padding: 10px;

            h1 {
                margin-top: 60px;
                font-size: 30px;
                color: rgb(169, 8, 8);
            }

            p:nth-of-type(1) {
                font-weight: 600;
                margin-top: 10px;
                font-size: 15px;
                font-family: 'Roboto', sans-serif;
                margin-bottom: 40px;

            }

            p:nth-of-type(2) {
                font-weight: 600;
                font-family: 'Roboto', sans-serif;
                font-size: 14px;
            }
        }
    }

}